.cardPost {
  width: 300px;
  height: 500px;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
}

.cardStyle {
  box-sizing: border-box;
  background-color: var(--white);
  height: 100%;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cardPost p,
.cardPost h4 {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.postImage {
  width: 200px;
  border-radius: 8px;
  margin-top: 10px;
}