html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  --dark-blue: #6089c0;
  --light-yellow: #f4ec9a;
  --white: #f5f5ed;
  background-color: var(--dark-blue);
}

.wrapper {

  background-color: var(--dark-blue);
  /* Flexbox */
  padding: 10px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Child combinator */
.wrapper > div {
  padding: 20px;
  border-radius: 10px;
  display:  flex;
  gap: 20px;
}

.laf {
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  background-color: var(--light-yellow);
}

.linkBar {
  width: 400px;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.imagetemp {
  display: flex;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #f4f3d2;
  width: 440px;
  height: 250px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.laf > div > p {
  font-size: 20px;
  max-width: 300px;
}

.btnStyle {
  background-color: var(--dark-blue);
  border: none;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  font-size: 17px;
  padding: 10px 24px;
}
.btnStyle:hover {
  background-color: #5078b3;
}
.btnCancel {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 24px;
  font-size: 17px;
}
.btnCancel:hover{
  background-color: #f0f0f0;
}

.linkBar .btnStyle {
  padding: 10px 20px;
}

.laf .btnStyle {
  padding: 15px 32px;
  font-size: 17px;
}

.laf > div > h1 {
  font-size: 40px;
}

.postbar {
  background-color: #fff9e6;
  padding: 10px;
}

.card {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 999;
}

.feed {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 20px; 
  padding: 20px;
  justify-content: space-between;
  flex: 1;
}

/* Make form items display as one per line */
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Make inputs stretch full width */
.formContainer input,
.formContainer textarea,
.formContainer select {
  margin: 0px;
  width: 100%;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}